@font-face {
  font-family: "Exo 2";
  src: url(../fonts/Exo2-Regular.ttf);
}

@font-face {
  font-family: "Exo 2 Medium";
  src: url(../fonts/Exo2-Medium.ttf);
}

@font-face {
  font-family: "Exo 2 SemiBold";
  src: url(../fonts/Exo2-SemiBold.ttf);
}

@font-face {
  font-family: "Exo 2 Bold";
  src: url(../fonts/Exo2-Bold.ttf);
}

@font-face {
  font-family: "Montserrat SemiBold";
  src: url(../fonts/Montserrat-SemiBold.ttf);
}

* {
  font-family: "Exo 2";
  color: #ffffff;
}

#contacts {
  max-width: 1460px;
  margin: 0 auto;
}

#team {
  max-width: 1440px;
  margin: 0 auto;
}

#services {
  max-width: 1440px;
  margin: 0 auto;
}

#home {
  background: #121212 url(../img/home_bg.jpg) center center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.dark-layer {
  background-color: #121212;
  opacity: 0.95;
  width: 100%;
  height: 100vh;
}

.menu-regular-page {
  background-color: #000000;
}

.menu-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1260px;
  padding: 0 30px;
  margin: 0 auto;
  height: 80px;
}

.main-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 75px;
  display: flex;
  align-items: center;
}

.main-menu li {
  display: inline-block;
  padding: 0 15px;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.logo-black-big {
  height: 32px;
}

.logo-space {
  width: 20px;
}

.menu-link:link {
  text-decoration: none;
  font-family: "Montserrat SemiBold";
  transition: .3s;
}

.menu-link:hover {
  color: #dd0000;
}

.lang-switcher {
  font-size: 16px;
  margin-top: -2px;
}

.home-subtitle {
  width: 600px;
}

#advantages {
  height: 100vh;
}

.header {
  font-weight: 500;
  font-size: 64px;
  line-height: 100%;
  color: #121212;
  padding: 80px 0;
}

.contact-form-wrap {
  height: 520px;
  width: 960px;
  padding: 20px 0 0 20px;
  background-image: url(../img/contacts_pic.jpg);
  background-repeat: no-repeat;
}

.contact-form {
  display: flex;
  flex-direction: column;
  max-width: 415px;
  margin: 45px 45px;
}

.contact-form .input {
  padding: 4px 10px;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  background-color: transparent;
  border: none;
  border-bottom: 1px #ffffff solid;
  transition: .3s ease;
  outline: none;
  margin-bottom: 30px;
}

.contact-form .input::placeholder {
  color: #ffffff;
  opacity: 1;
  transition: opacity .3s ease;
}

.contact-form .input:focus {
  border-bottom: 1px solid #dd0000;
}

.contact-form .input:focus::placeholder {
  opacity: 0;
  transition: opacity .3s ease;
}

.textarea {
  padding: 4px 10px;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  background-color: #ffffff;
  border: none;
  transition: .3s;
  outline: none;
  margin-bottom: 30px;
  color: #121212;
}

.textarea::placeholder {
  color: #121212;
  opacity: 1;
  transition: opacity .3s ease;
}

.textarea:focus::placeholder {
  opacity: 0;
  transition: opacity .3s ease;
}

.submit-btn {
  width: 200px;
  height: 30px;
  color: #121212;
  border: none;
  margin: 0 auto;
  cursor: pointer;
  transition: .3s ease;
}

.submit-btn:hover {
  background-color: #dd0000;
}

.contacts-windows {
  display: flex;
  flex-direction: row;
  position: relative;
}

.contact-wrap-black {
  width: 550px;
  height: 378px;
  background-color: #121212;
  position: absolute;
  right: 35px;
  top: 55px;
}

.contact-wrap-white {
  width: 550px;
  height: 378px;
  background-color: #ffffff;
  position: absolute;
  top: 90px;
  right: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacts-addres, .contacts-phone, .contacts-email {
  color: #000000;
  font-weight: 500;
  font-size: 34px;
  margin-bottom: 30px;
}

.link-black:link {
  color: #121212;
  text-decoration: none;
  transition: .3s ease;
}

.link-black:hover {
  color: #dd0000;
}

.link-black:visited {
  color: #121212;
}

.menu-line-mobile {
  display: none;
}

/* Main menu positionning */
.main-nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  background: #FFF;
  opacity: 0;
  z-index: -1;
  visibility: hidden;
  transition: all .375s;
}

.main-nav.is-open {
  opacity: 1;
  z-index: 100;
  visibility: visible;
}

/* Yellow band effect */
.main-nav::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: -15px;
  background: #dd0000;
  transform-origin: 0 0;
  transform: skew(-14deg) translateX(-120%);
  transition: all .275s .1s;
}

.main-nav.is-open::before {
  transform: skew(-14deg) translateX(0);
}

/* Skewing effect on menu links */
.main-nav ul {
  display: inline-flex;
  flex-direction: column;
  height: 100%;
  align-items: flex-end;
  justify-content: center;
  transform: translateX(-18%) skew(-16deg);
}

.main-nav li {
  display: block;
  margin: .5rem 0;
  text-align: right;
  transform: skew(16deg);
}

/* Apparition effect on links */
.main-nav a {
  opacity: 0;
  transform: translateY(-10px);
}

.main-nav.is-open a {
  opacity: 1;
  transform: translateY(0);
}

.main-nav li:nth-child(1) a {
  transition: all 275ms 175ms;
}

.main-nav li:nth-child(2) a {
  transition: all 275ms 225ms;
}

.main-nav li:nth-child(3) a {
  transition: all 275ms 275ms;
}

.main-nav li:nth-child(4) a {
  transition: all 275ms 325ms;
}

.main-nav li:nth-child(5) a {
  transition: all 275ms 375ms;
}

/* Decoration */
.main-nav ul,
.main-nav li {
  list-style: none;
  padding: 0;
}

.main-nav a {
  display: block;
  padding: 12px 0;
  font-size: 1.4em;
  text-decoration: none;
  font-weight: 500;
}

/* Burger Style: @see: https://codepen.io/CreativeJuiz/full/oMZNXy */
.open-main-nav {
  position: absolute;
  top: 28px;
  padding-top: 20px;
  right: 24px;
  z-index: 1000;
  background: none;
  border: 0;
  cursor: pointer;
}

.open-main-nav:focus {
  outline: none;
}

.burger {
  position: relative;
  display: block;
  width: 20px;
  height: 2px;
  margin: 0 auto;
  background: #ffffff;
  transition: all .275s;
  margin-top: -14px;
}

.burger:after,
.burger:before {
  content: '';
  display: block;
  height: 100%;
  background: #ffffff;
  transition: all .275s;
}

.burger:after {
  transform: translateY(-10px);
}

.burger:before {
  transform: translateY(-16px);
}

/* Toggle State part */
.is-open .burger {
  transform: skew(5deg) translateY(-8px) rotate(-45deg);
}

.is-open .burger:before {
  transform: translateY(0px) skew(-10deg) rotate(75deg);
}

.is-open .burger:after {
  transform: translateY(-12px) translateX(10px) skew(-20deg);
  opacity: 0;
}

@media screen and (max-width: 1440px) {
  .header {
    padding-left: 20px;
  }
}

@media screen and (max-width: 768px) {
  .menu-line {
    display: none;
  }
  .menu-line-mobile {
    display: block;
    height: 60px;
    width: 100%;
    padding: 0 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header {
    font-size: 48px;
    padding: 60px 0;
    text-align: center;
  }
  .contact-wrap-black, .contacts-email {
    display: none;
  }
  .contacts-windows {
    flex-direction: column-reverse;
    position: initial;
  }
  .contact-wrap-black, .contact-wrap-white {
    position: initial;
  }
  .contact-form-wrap {
    width: calc( 100% - 20px);
    height: 460px;
    box-sizing: border-box;
    margin: 0 10px;
    margin-bottom: 10px;
  }
  .contact-form {
    margin: 0 auto;
    width: calc(100% - 20px);
    padding-right: 20px;
  }
  .contact-wrap-white {
    width: calc(100% - 20px);
    height: initial;
    margin: 15px auto;
  }
  .contacts-text {
    background-color: #000000;
    text-align: center;
  }
  .contacts-text .contacts-addres, .contacts-text .contacts-phone a {
    color: #ffffff;
    font-size: 22px;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-bottom: 0;
  }
  .contacts-text {
    width: 100%;
  }
}

@media screen and (max-width: 375px) {
  .menu-line {
    display: none;
  }
  .header {
    font-size: 42px;
    padding: 40px 0;
  }
}
